body {
  background-color: #729565;
  margin: 0;
  font-family: Arial, sans-serif;
} 

.container {
  display: flex;
  gap: 10px;
  background: #c2cfb2;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  border-radius: 30px;
  padding: 30px
}
.red-box {
  background: #c2cfb2;
  width: 700px;
  height: 300px;
  padding: 10px;
  margin: 10px 250px
    
}
.blue-box {
  background: #c2cfb2;
  border-radius: 0px;
  width: 600px;
  margin: 50px 0px;
  padding: 30px
  
}

.box {
  background: #8db580;
  color: #ddd1c7;
  padding: 30px;
  font-size: 24px;
  text-align: center;
  flex: 1;
  border-radius: 20px;
  height: 200px
    
}

.card {
  background: #8db580;
  padding: 20px;
  width: 320px;
  border-radius: 10px;
  box-shadow: -15px -15px  rgba(0,0,0,0.8); 
}
.btn {
  padding: 15px 30px;
  font-size: 20px;
  border-color: black;
  border-radius: 30px;
  background: #8db580;
  color: #ddd1c7;
  cursor: pointer;
  transition: 0.15s;
}

.btn:hover {
  background: #729565;
  transform: scale(1.5); 
}

.btn-green {
  background: #8db580;
}
.btn-1:hover {
  background: #729565;
}

.spin-btn {
  padding: 15px 30px;
  border-radius: 30px;
  background: #8db580;
  color: #ddd1c7;
  font-size: 20px;
  transition: transform 0.5s;   
}
.spin-btn:hover {
  transform: rotate(360deg) scale(1.5);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #8db580;
}
.logo {
  color: #ddd1c7;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #ddd1c7;
  text-decoration: none;
  font-size: 20px;
}
.nav-links a:hover {
  color: #ddd1c7;
}

.login-container {
  background: #8db580;
  padding: 40px;
  border-radius: 12px;
  width: 300px;
  margin: 60px 400px
    
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ddd1c7;
  
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: #ddd1c7;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  box-sizing: border-box;
  background: #c2cfb2; 
    
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: #729565;
  color: #ddd1c7;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;   
}
.login-form button:hover {
  background: #4338ca;
}

p {
  color: white;
  margin: 30px 500px;
  font-size: 50px
  
}